#audiojs_wrapper1 {
  display: none;
}

#blue-ghost-12306 {
  padding: 20px;
  border-bottom: 1px solid #efefef;
  background-color: #fafafa;
}

#blue-ghost-12306 .route-list {
  display: flex;
}

#blue-ghost-12306 .route {
  margin-right: 20px;
}

#blue-ghost-12306 .shift {
  margin-bottom: 8px;
}