<!DOCTYPE html>
<html>
  <head>
    <title>Blue Ghost Popup</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" href="../static/css/tailwind.min.css" />
    <link rel="stylesheet" type="text/css" href="../static/css/element.min.css" />
  </head>
  <body>
    <div id="blue-ghost-popup" style="width:480px;">
      <el-tabs type="border-card">

        <el-tab-pane>
          <span slot="label"><i class="el-icon-star-off"></i> Bookmarks</span>
          <div>
            <el-input
              autofocus
              size="small"
              placeholder="请输入站点名称、拼音、拼音首字母"
              v-model="bookmarkValue"
            >
             <el-button slot="prepend" icon="el-icon-search"></el-button>
            </el-input>
            <div class="pt-2">
              <a
                class="block -mx-4 px-4 py-1 hover:text-blue-600"
                v-for="(bookmark, index) in displayBookmarks"
                :key="index"
                :href="bookmark.url"
                target="_blank"
              >
                <span class="font-semibold">{{index + 1}}. {{bookmark.title}}</span>
                <p class="text-gray-500">{{bookmark.url}}</p>
              </a>
            </div>
          </div>
        </el-tab-pane>

        <el-tab-pane>
          <span slot="label"><i class="el-icon-monitor"></i> Site</span>
          <div class="flex items-center">
            <img class="w-5 h-5" :src="site.favIconUrl || '../img/icon.svg'" />
            <el-input size="small" class="flex-grow ml-2" v-model="site.title" placeholder="Site title" />
          </div>
          <p class="mt-2 text-xs text-gray-500 truncate">{{site.url}}</p>
          <div class="mt-2 flex items-center">
            <div class="flex-grow mr-4">
              <el-alert v-if="site.url.length > 512" :closable="false" title="URL is too long" type="error"></el-alert>
            </div>
            <el-button round size="mini" type="primary" icon="el-icon-upload" @click="pickSite()" :disabled="pickSiteDisabled">
              Pick
            </el-button>
          </div>
        </el-tab-pane>

        <el-tab-pane>
          <span slot="label"><i class="el-icon-setting"></i> Config</span>
          <div>
            <el-input size="small" v-model="config.api" placeholder="API url">
              <template slot="prepend">API</template>
            </el-input>
            <el-input size="small" v-model="config.token" placeholder="Token code" type="password" class="mt-2">
              <template slot="prepend">Token</template>
            </el-input>
            <el-input size="small" v-model="config.newTab" placeholder="New tab url" class="mt-2">
              <template slot="prepend">NewTab</template>
            </el-input>
            <div class="mt-2 flex justify-end">
              <el-button round size="mini" type="primary" icon="el-icon-refresh" @click="updateConfig()" :disabled="updateConfigDisabled">
                Update
              </el-button>
            </div>
          </div>
        </el-tab-pane>

      </el-tabs>

      <div class="absolute top-0 right-0 p-2">
        <el-tooltip effect="dark" content="Reload Blue Ghost" placement="bottom">
          <el-button
            circle
            size="mini"
            icon="el-icon-refresh-left"
            @click="reloadBlueGhost"
          >
          </el-button>
        </el-tooltip>
      </div>

    </div>
  </body>
  <script src="../static/js/luxon.min.js"></script>
  <script src="../static/js/vue.min.js"></script>
  <script src="../static/js/element.min.js"></script>
  <script src="../static/js/pinyin.js"></script>
  <script src="./popup.js"></script>
</html>