<!DOCTYPE html>
<html>
  <head>
    <title>Blue Ghost Popup</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" href="../static/css/tailwind.min.css" />
    <link rel="stylesheet" type="text/css" href="../static/css/element.min.css" />
    <link rel="stylesheet" type="text/css" href="./popup.css" />
  </head>
  <body>
    <div id="blue-ghost-popup" style="width:480px;">
      <el-tabs type="border-card" v-model="activeTab">

        <!-- bookmark -->
        <el-tab-pane name="bookmark">
          <span slot="label"><i class="el-icon-star-off"></i> 书签</span>
          <div>
            <el-input
              autofocus
              size="small"
              placeholder="请输入站点名称、URL、拼音、拼音首字母"
              v-model="bookmarkValue"
            >
              <i class="el-icon-search" slot="prepend"></i>
            </el-input>
            <div class="mt-4 -mx-4 -mb-4 overflow-x-hidden overflow-y-auto" style="height: 450px;">
              <div v-if="displayBookmarkList.length === 0" class="p-4 text-gray-600 text-center">
                {{bookmarkValue ? '没有匹配到书签' : '加载中..'}}
              </div>
              <a
                target="_blank"
                class="block px-4 py-1 hover:text-blue-600 hover:bg-gray-100 focus:bg-gray-300 focus:outline-none border-t break-all hover-appear-parent"
                v-for="bookmark in displayBookmarkList"
                :key="bookmark.url"
                :href="bookmark.url"
              >
                <div class="flex items-center">
                  <div class="w-11/12 flex-shrink-0 flex items-center">
                    <img
                      class="block w-4 h-4"
                      :src="`chrome://favicon/size/16@2x/${bookmark.url}`"
                    />
                    <div class="w-full">
                      <p class="px-4 font-semibold truncate">{{bookmark.title}}</p>
                      <p class="px-4 text-gray-500 truncate">{{bookmark.url}}</p>
                      <!-- <p class="text-gray-500">{{bookmark.matchList}}</p> -->
                    </div>
                  </div>
                  <div class="w-1/12 flex justify-end hover-appear-child">
                    <span
                      class="block w-6 h-6 rounded-full bg-orange-200 text-orange-400 hover-appear-child flex justify-center items-center hover:bg-orange-400 hover:text-white relative hover-show-parent"
                      @click.prevent="nothing"
                      @dblclick.prevent="handleHideBookmark(bookmark)"
                    >
                      <i class="el-icon-remove-outline"></i>
                      <div class="hover-show-child px-2 h-6 bg-orange-200 text-orange-400 shadow rounded absolute top-0 left-0 -ml-20 flex justify-center items-center">
                        <span>双击隐藏</span>
                      </div>
                    </span>
                  </div>
                </div>
              </a>
            </div>
          </div>
        </el-tab-pane>

        <!-- siteInfo -->
        <el-tab-pane name="siteInfo">
          <span slot="label"><i class="el-icon-monitor"></i> 站点</span>
          <div class="flex items-center">
            <img class="w-5 h-5" :src="siteInfo.favIconUrl || '../img/icon.svg'" />
            <el-input
              autofocus
              size="mini"
              class="flex-grow ml-2"
              v-model="siteInfo.title"
              placeholder="Site title"
            />
          </div>
          <div>
            <el-input
              autofocus
              size="mini"
              class="mt-2"
              v-model="siteInfo.url"
              placeholder="Site url"
            />
          </div>
          <div class="mt-2 flex items-center">
            <el-button
              round
              size="mini"
              :type="isMoPage ? 'danger' : 'success'"
              @click="handleMoPage"
            >
              {{isMoPage ? '停' : '启'}}用魔页
            </el-button>
          </div>
        </el-tab-pane>

        <!-- config -->
        <el-tab-pane name="config">
          <span slot="label"><i class="el-icon-setting"></i> 配置</span>
          <el-tabs class="-mt-4">
            <el-tab-pane>
              <span slot="label" class="text-xs">恢复书签</span>
              <div v-if="config.hiddenBookmarkList.length === 0" class="p-4 text-gray-600 text-center">
                没有已隐藏的书签
              </div>
              <div
                target="_blank"
                class="block px-4 py-1 hover:bg-gray-100 focus:bg-gray-300 focus:outline-none rounded-lg break-all hover-appear-parent"
                v-for="bookmark in config.hiddenBookmarkList"
                :key="bookmark.url"
              >
                <div class="flex items-center">
                  <div class="w-11/12 flex-shrink-0 flex items-center">
                    <img
                      class="block w-4 h-4"
                      :src="`chrome://favicon/size/16@2x/${bookmark.url}`"
                    />
                    <div class="w-full">
                      <p class="px-4 font-semibold truncate">{{bookmark.title}}</p>
                      <p class="px-4 text-gray-500 truncate">{{bookmark.url}}</p>
                    </div>
                  </div>
                  <div class="w-1/12 flex justify-end hover-appear-child">
                    <span
                      class="block w-6 h-6 rounded-full bg-green-200 text-green-400 hover-appear-child flex justify-center items-center hover:bg-green-400 hover:text-white cursor-pointer relative hover-show-parent"
                      @click.prevent="nothing"
                      @dblclick.prevent="handleShowBookmark(bookmark)"
                    >
                      <i class="el-icon-remove-outline"></i>
                      <div class="hover-show-child px-2 h-6 bg-green-200 text-green-400 shadow rounded absolute top-0 left-0 -ml-20 flex justify-center items-center">
                        <span>双击恢复</span>
                      </div>
                    </span>
                  </div>
                </div>
              </div>
            </el-tab-pane>
            <el-tab-pane>
              <span slot="label" class="text-xs">NewTab</span>
              <el-input
                size="small"
                v-model="config.newTabUrl"
                placeholder="New tab url"
                @input="updateConfig"
              >
              </el-input>
              <template slot="prepend">NewTab</template>
            </el-tab-pane>
          </el-tabs>

          <div class="break-all text-gray-200 bg-gray-900 mt-6 p-1 rounded">
            DEV CONFIG:
            <p>{{JSON.stringify(config)}}</p>
          </div>
        </el-tab-pane>

      </el-tabs>

      <div class="absolute top-0 right-0 p-2">
        <el-tooltip
          effect="dark"
          content="DEV: Reload Blue Ghost"
          placement="bottom"
        >
          <el-button
            circle
            size="mini"
            icon="el-icon-refresh-left"
            @click="chrome.runtime.reload()"
          >
          </el-button>
        </el-tooltip>
      </div>

    </div>
  </body>
  <script src="../static/js/luxon.min.js"></script>
  <script src="../static/js/vue.min.js"></script>
  <script src="../static/js/element.min.js"></script>
  <script src="../content-script/pinyin.js"></script>
  <script src="./popup.js"></script>
</html>